@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
   font-family: 'Cal Sans', sans-serif;
   src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'), url('../fonts/CalSans-SemiBold.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

:root {
   --text-color: #666;
   --body-bg: #fff;
   --header-menu-color: rgba(18, 18, 18, 0.4);
   --header-menu-bg: rgba(255, 255, 255, 0.7);
   --footer-menu-color: rgba(18, 18, 18, 0.6);
   --dark-title-color: #121212;
   --primary-color-accent: #FF6428;
   --main-button-hover: #541d08;
   --view-all-link-color: #868686;
   --why-icon-bg: #262626;
   --reviews-author-name-color: #000;
   /* --light-title-color: #fff; */
}


body {
   line-height: 1;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   scroll-behavior: smooth;
   color: var(--text-color);
   background-color: var(--body-bg);
}

[class*='__container'] {
   max-width: 1230px;
   margin: auto;
   padding: 0px 15px;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.page {
   flex: 1 1 auto;
}

.title {
   font-family: 'Cal Sans', sans-serif;
   font-weight: 600;
   text-align: center;
   font-size: 44px;
   line-height: 1.2;
   color: var(--dark-title-color);
}

.title span {
   color: var(--primary-color-accent);
}

@media (max-width: 767.98px) {
   .title {
      font-size: 38px;
   }
}