.footer {
   background-color: var(--footer-bg);
}

.footer__container {
   padding-top: 80px;
   padding-bottom: 43px;
}

.footer__top {
   display: flex;
   gap: 30px;
   margin-bottom: 80px;
}

.contacts-footer,
.pages-footer,
.product-footer,
.social-media-footer {
   flex: 0 1 33.333%;
}

.contacts-footer__logo {
   display: inline-block;
   margin-bottom: 28px;
}

.contacts-footer__item:not(:last-child) {
   margin-bottom: 20px;
}

[class*='__link'] {
   color: inherit;
}

.contacts-footer__link {
   display: inline-block;
   line-height: 1.6;
   padding-left: 44px;
}

.contacts-footer__link_mail {
   background: url(../img/icons/footer-email.svg) left no-repeat;
}

.contacts-footer__link_location {
   background: url(../img/icons/footer-location.svg) left no-repeat;
}

.menu-footer__title,
.social-media-footer__title {
   color: var(--dark-title-color);
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.menu-footer__list {
   display: flex;
   flex-direction: column;
}
.menu-footer__item:first-child {
   margin-bottom: 20px;
}
.menu-footer__item:not(:last-child) {
   margin-bottom: 16px;
}

.social-media-footer__icons {
   display: flex;
   align-items: center;
}

.footer__bottom {
   margin-bottom: 40px;
}
.footer__copyright {
   text-align: center;
}
@media (max-width: 991.98px) {
   .footer__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .footer__top {
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 30px;
   }
}
@media (max-width: 767.98px) {
   
}