.header {}

.header__container {
   display: flex;
   align-items: center;
   min-height: 152px;
   gap: 131px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.header__logo {}

.header__menu {}

.menu {}

.menu__list {
   display: flex;
   gap: 56px;
}

.menu__item {}

.menu__link {
   color: var(--header-menu-color);
   font-weight: 500;
   line-height: 1.5;
   text-transform: capitalize;
}

.menu__link:hover {
   text-decoration: underline;
}